<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-form.css">
    <title>Login</title>
    <style>

    </style>
</head>

<body>
   
    <main>
        <div id="rectang">
            <div id="Login-input">
                <div id="imahe">
                    <div class="logo">
                        <img id="logo1" src="/images/group 206.png" alt="">
                    </div>
                    <img id="illustration" src="/images/image 9.png" alt="">
                    <h3 id="h3">One City Care</h3>
                    <p>Your health our commitment</p>
                </div>
                <div id="user_type" name="user_type">
                    <H1 id="h1">SIGN IN AS</H1>
                    <div>
                        <% if (messages.error) { %>
                            <div>
                                <%= messages.error %>
                            </div>
                            <% } %>
                    </div>
                    <h4 id="h4" style="color: rgb(116, 110, 110);">Choose which sector you are in.</h4>
                    <div id="choosing">
                        <button id="btn" type="button" value="doctor" onclick="hideUserType(this.value)">Doctor</button>
                        <button id="btn" type="button" value="nurse" onclick="hideUserType(this.value)">Nurse</button>
                        <button id="btn" type="button" value="medtech"
                            onclick="hideUserType(this.value)">Medtech</button>
                        <button id="btn" type="button" value="pharmacist"
                            onclick="hideUserType(this.value)">Pharmacy</button>
                    </div>
                </div>
            </div>
        </div>
        <form id="login-form" style="display:none;" action="/login" method="post">
            <div id="center1">
                <div class="icon">
                    <img id="icon" src="/images/group 206.png" alt="">
                </div>
                <div id="cheese1">
                    <h1>SIGN IN</h1>
                </div>
                <div class="container1">
                    <input type="hidden" id="user_type_input" name="user_type" value="">
                    <div class="entryarea1">
                        <input id="username" name="username" required>
                        <div class="labelline">Enter username</div>
                    </div>
                    <div class="entryarea1">
                        <input id="password" name="password" type="password" required>
                        <div class="labelline">Enter password</div>
                    </div>
                    <div>
                        <button id="Log-butt" type="submit">LOGIN</button>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <script src="/js/websocket.js"></script>
    <script src="/js/login-func.js"></script>
</body>

</html>