<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/node_modules/html5-qrcode/html5-qrcode.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/css/scanner.css">
    <title>Scanner</title>
</head>

<body>
    <main>
        <div id="reader"></div>
        <div id="result"></div>
    </main>
    <script src="/js/scanner.js"></script>
</body>

</html>